@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', 'sans-serif';
}

body ::-webkit-scrollbar {
    display: none;
}

main {
    position: relative;
    background-color: black;
    color: white;
    height: 616px;
}

main img {
    position: absolute;
    bottom: 0;

    width: 412px;
}

#searchbar {
    display: flex;
    position: absolute;
    bottom: -1.7rem;
    left: 50px;
    z-index: 1000;
    padding: 1rem;
    align-items: center;
    background-color: white;
    color: black;
    height: 35px;
    width: 70%;
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
}   

article {
    background-color: rgb(40, 40, 40);
    padding: 1rem;
    padding-bottom: 0rem;
}

article h1 {
    color: rgb(255, 255, 255);
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

footer {
    height: 188px;

    background-image: url(/img/netflix.png);
    background-size: cover;
    filter: brightness(0.5);    
}

.link_movie {
    display: inline-block;

    width: 380px;
    border-radius: 10px;
    
    color: rgb(176, 176, 176);
    background-color: rgb(62, 62, 62);
    margin-bottom: 1rem;
}

.link_movie p {
    display: block;
    margin: 10px;
}

.name {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.rating {
    color: rgb(255, 255, 255);
}