@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0px;
  font-family: "Montserrat", "sans-serif";
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgb(14, 14, 14);
}

.header a {
  color: white;
  text-decoration: none;
}

main {
  position: relative;
  background-color: black;
  color: white;
  height: 616px;
}

main img {
  position: absolute;
  bottom: 0;

  width: 412px;
}

#searchbar {
  display: flex;
  position: absolute;
  bottom: -1.7rem;
  left: 50px;
  z-index: 1000;
  padding: 1rem;
  align-items: center;
  background-color: white;
  color: black;
  height: 35px;
  width: 70%;
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

article {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  padding-bottom: 0.2rem;
}

article h1 {
  color: rgb(255, 255, 255);
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.link_movie {
  display: inline-block;

  width: 380px;
  border-radius: 10px;

  color: rgb(176, 176, 176);
  background-color: rgb(19, 19, 19);
  margin-bottom: 1rem;
}

.link_movie p {
  display: block;
  margin: 10px;
}

.rating-template-div {
  display: flex;
  flex-direction: row;
}

.name {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.rating {
  margin: 6px !important;
  color: rgb(255, 255, 255);
}

.template-rating-star {
  margin: 6px;
  margin-left: 10px;
  margin-right: 0px;
  height: 1rem;

  display: flex;
}

footer {
  height: 188px;

  background-image: url(/img/netflix.png);
  background-size: cover;
  filter: brightness(0.05);
  box-shadow: 0px 9px 10px 10px white;
}