@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', 'sans-serif';
}

header {
    position: relative;
    padding: 10px;
    height: 40px;

    background-color: rgb(42, 42, 42);
}

.tillbaka {
    position: absolute;
    height: 45px;
    width: 45px;
}

#movie-name {
    margin: 0px;
    margin-top: 8px;

    display: flex;

    justify-content: center;
    
    color: white;
}

.rating {
    margin-left: 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#movie-rating {
    font-size: 2rem;
    font-weight: bold;
}

.star {
    margin-right: 10px;
    margin-bottom: 3px;
    width: 1.8rem;
    height: 1.8rem;
}

#movie-description {
    margin: 40px;
    margin-top: 0px;

    font-size: 1rem;
}

#movie-actors {
    margin: 1rem;
    
    font-size: 2rem;
    font-weight: bold;

    border-bottom: solid 2px black;
}