@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0px;
  font-family: "Montserrat", "sans-serif";
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgb(14, 14, 14);
}

.header a {
  color: white;
  text-decoration: none;
}

header img {
  height: 2.5rem;
}

main {
  position: relative;
  background-color: black;
  color: white;
  height: 616px;
}

main img {
  position: absolute;
  bottom: 0;

  width: 412px;
}

#searchbar {
  padding: 1rem;
  height: 20px;
  width: 70%;

  display: flex;
  position: absolute;
  bottom: -1.7rem;
  left: 50px;
  z-index: 1000;
  align-items: center;

  background-color: white;
  color: black;
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

article {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  padding-bottom: 0.5rem;
}

article h1 {
  color: rgb(255, 255, 255);
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.link_movie {
  display: flex;

  width: 380px;
  border-radius: 10px;

  color: rgb(176, 176, 176);
  background-color: rgb(19, 19, 19);
  margin-bottom: 1rem;
}

.image {
  height: 247.75px;
  width: 167px;
  object-fit: cover;
}

.link-short-information {
  margin-left: 2rem;
  margin-top: 4rem;
  height: 10rem;
}

.link_movie p {
  display: block;
  margin: 10px;
}

.rating-template-div {
  display: flex;
  flex-direction: row;
}

.name {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.rating {
  margin: 6px !important;
  color: rgb(255, 255, 255);
}

.template-rating-star {
  margin: 6px;
  margin-left: 10px;
  margin-right: 0px;
  height: 1rem;

  display: flex;
}

footer {
  height: 13vh;

  background-image: url(/img/footer.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(0.2);
  box-shadow: 0px 9px 10px 10px red;
}

/*-------------------------------Filmer-------------------------------*/

#filmer-body {
  background-color: black;
}

#filmer-header {
  padding: 10px;
  height: 40px;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(14, 14, 14);
  box-shadow: -1px -9px 17px 0px white;
}

#filmer-header h3 {
  margin: 1rem;

  color: white;
}

.tillbaka {
  height: 45px;
  width: 45px;
}

.more-filmer {
  margin-right: 1rem;
  width: 30px;
  height: 30px;
}

#filmer-section {
  padding-top: 1rem;
  background-color: rgb(8, 8, 8);
}

#movie-name {
  margin: 0px;
  margin-left: 24px;

  color: white;
  font-size: 2rem;
}

.rating {
  margin-left: 1.5rem;
  margin-bottom: 0px;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: white;
}

#movie-rating {
  margin-top: 1rem;
  margin-bottom: 1rem;

  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.star {
  margin-left: 0.5rem;
  margin-right: 10px;
  margin-bottom: 3px;
  width: 1.8rem;
}

#movie-image {
  width: 380px;
}

#movie-description {
  margin: 40px;

  color: white;
  font-size: 1rem;
}

#movie-actors {
  margin: 24px;

  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/*-------------------------------More-------------------------------*/

.general-body {
  background-color: black;
}

#info-section {
  height: 15rem;

  background-image: url(/img/infopic-section.jpg);
  background-size: cover;

  background-position: center;
  mask-repeat: no-repeat;
  box-shadow: 0px 4px 20px -8px white;
}

#magic {
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: white;
}

#section-text p {
  display: none;
}

#info-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info-article img {
  margin: 0rem;
  margin-bottom: 1rem;
  width: 380px;

  border-radius: 10px;
}

.general-information {
  margin-bottom: 1rem;

  padding: 10px;
  width: 360px;
  border-radius: 10px;

  background-color: rgb(19, 19, 19);
  color: white;
}

.general-information p {
  margin: 0px;
}

#first-information {
  margin-bottom: 1rem;

  padding: 10px;
  width: 360px;
  border-radius: 10px;

  background-color: rgb(19, 19, 19);
  color: white;
}

#first-information p {
  margin: 0;
}

/*-------------------------------Quotes-------------------------------*/

#quotes-article {
  padding: 0;
}

.quote {
  width: auto;
  padding: 1rem;
  text-align: center;
  color: white;
}

.quote img {
  width: 380px;

  border-radius: 10px;
}

.quote p {
  margin-bottom: 2rem;
}

.mobile-title {
  font-size: 2.3rem;
}

.desktop-title {
  display: none;
}

#important-quote {
  display: none;
}

/*-------------------------Media landing page-------------------------*/

@media screen and (min-width: 600px) {
  body::-webkit-scrollbar {
    display: none;
  }

  main {
    height: 80vh;

    background-image: url(/img/morgan-freeman-desktop.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  main img {
    display: none;
  }

  #searchbar {
    height: 35px;
    width: 30%;

    left: 35vw;
  }

  article {
    padding-bottom: 3rem;
  }

  article h1 {
    margin-left: 4rem;

    font-size: 4rem;
  }

  #templates {
    width: 1871px;

    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }

  .link_movie {
    margin: 0px;
    padding: 1rem;

    height: 25vh;
    width: 54rem;

    transition: 0.3s;
  }

  .inner-border {
    margin: 1.5rem;
    margin-left: 2.5rem;
    margin-right: 0px;
    width: 54rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    transition: 0.1s;
  }

  .inner-border:hover {
    margin-bottom: 0;
    margin-left: 1.8rem;

    border: 5px solid white;
    border-radius: 1rem;
  }

  .link_movie:hover {
    margin: 0px;
    margin-left: 6px;
    margin-right: 6px;

    width: 58rem;
  }

  .name {
    font-size: 2.5rem;
    text-decoration: none;
  }

  .rating {
    font-size: 1.5rem;
  }

  .template-rating-star {
    margin-top: 7px;
    height: 1.6rem;
  }

  footer {
    height: 35vh;

    background-image: url(/img/footer.jpg);
    background-position: center;
  }

  /*-------------------------Fimler-------------------------*/

  #movie-name {
    margin-left: 10rem;

    font-size: 3rem;
  }

  .star {
    margin-left: 9.5rem;
  }

  .image-description {
    display: flex;
    align-items: center;
  }

  #movie-image {
    margin-left: 20rem;
  }

  #movie-description {
    margin: 5rem;
    margin-right: 20rem;

    font-size: 2rem;
  }

  #movie-actors {
    margin-top: 4rem;

    display: flex;
    justify-content: center;
    font-size: 3.5rem;
  }

  /*-------------------------More-------------------------*/

  #info-section {
    display: none;
  }

  #magic {
    margin: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;

    font-size: 38.832px;
  }

  #section-text p {
    margin-left: 38rem;
    margin-right: 39rem;
    margin-bottom: 5rem;
    display: flex;
    text-align: center;

    font-size: 1.5rem;
    color: white;
  }

  #info-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    padding-left: 20rem;
    padding-right: 20rem;
  }

  #first-information {
    display: none;
  }

  .general-information {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 25vw;

    background-color: black;
    font-size: 1.5rem;
  }

  #info-article img {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    width: 25vw;
  }

  /*-------------------------Quotes-------------------------*/

  #important-quote {
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 1rem;
    padding-top: 2rem;

    display: flex;
    flex-direction: column;

    color: white;
    font-style: italic;
  }

  .best-quoter {
    margin-left: 15rem;

    font-size: 1.5rem;
  }

  .morgan-quote {
    margin-bottom: 10px;
    margin-left: 0rem;
    text-align: center;

    font-size: 2.5rem;
  }

  #quotes-article {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .quote img {
    object-fit: cover;
  }

  .quote {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgb(3, 0, 0);
    border-radius: 1rem;
    transition: 0.3s ease;
  }

  .quote p {
    text-align: center;

    font-size: 1.5rem;
  }

  .desktop-text {
    padding: 3rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .mobile-title {
    display: none;
  }

  .who {
    padding-left: 2rem;
    display: flex;
    justify-content:flex-start;
  }

  .quote:hover {
    box-shadow: 0px 0px 30px 0px rgb(43, 0, 0);
  }
}
